// .card {
//     display: grid;
//     grid-template-columns: 1fr 1.25fr;
// }

.card__description {
    padding: 40px 40px 56px 40px;

    border-radius: 16px 0px 0px 16px;
    background-color: $bg-card;

    &--middle {
        padding: 32px 32px 48px 32px;

        border-radius: 0px 0px 16px 16px;
    }

    &--bottom {
        padding: 32px 32px 46px 32px;

        border-radius: 0px 0px 16px 16px;
    }

    &--join {
        height: 100%;

        border-radius: 16px 16px 16px 16px;
    }
}


.card__text {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;

    margin-bottom: 48px;

    &--nobtn {
        margin-bottom: -16px;
    }
}


.card__text p + p {
    margin-top: 0.5em;
}

.card-image {
    border-radius: 0px 16px 16px 0px;
    background-repeat: no-repeat;
    background-size: cover;

    &--title {
        height: 100%;
    }

    &--middle {
        border-radius: 16px 16px 0px 0px;
    }

    &--bottom {
        border-radius: 0px 0px 0px 0px;
    }
}